<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sunzh.studio3">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 自定义权限 -->
    <!-- 危险权限 -->
    <permission
        android:name="sunzf.permission.DANGEROUS_TEST"
        android:description="@string/dangerous_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/dangerous_label"
        android:permissionFlags="costsMoney"
        android:protectionLevel="dangerous" />
    <!-- 普通权限 -->
    <permission
        android:name="sunzf.permission.NORMAL_TEST"
        android:description="@string/normal_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/normal_label"
        android:protectionLevel="normal" />
    <permission
        android:name="com.sunzf.BOOKPROVIDER"
        android:description="@string/bookprovider_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/bookprovider_label"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.sunzf.BOOKPROVIDER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".local.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".remote.BookManagerService"
            android:process=":remote" />

        <receiver
            android:name=".local.MusicServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".local.BService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".local.permtest.DangerousPermActivity"
            android:parentActivityName=".local.MainActivity"
            android:permission="sunzf.permission.DANGEROUS_TEST">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".local.MainActivity" />

            <intent-filter>
                <action android:name="sunzf.intent.action.DANGEROUS_TEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".local.permtest.NormalPermActivity"
            android:parentActivityName=".local.MainActivity"
            android:permission="sunzf.permission.NORMAL_TEST">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".local.MainActivity" />

            <intent-filter>
                <action android:name="sunzf.intent.action.NORMAL_TEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".contentproviderIPC.BookProvider"
            android:authorities="com.sunzf.bookprovider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.sunzf.BOOKPROVIDER"
            android:process=":bookprovider" />

        <activity android:name=".contentproviderIPC.ProviderActivity" />

        <service
            android:name=".socketIPC.TCPServerService"
            android:enabled="true"
            android:exported="true"
            android:process=":tcpserver" />

        <activity android:name=".socketIPC.TCPClientActivity"></activity>
    </application>

</manifest>